
body{
    background: url(../images/img2/privacy-pc-bg.png) no-repeat center center;
    background-size:120% 100%;
}
.term-content{
    padding:7% 5% 0;
}
.term-content dl{
    padding-bottom:2%;
}
.term-content dt{
    font-weight: bold;
    color:#1473d2;
    font-size: 20px;
    font-style:italic; 
}
.public-inner-link{
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    }
.term-content .contact p{
    margin-bottom: 30px;
}
.term-content dd{
    color:#333;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top:3px;
    line-height: 24px;
}
table{
    width: 100%;
    padding:8px 0 12px;
}
table tr th{
    font-weight: 700;
    font-size: 16px;
   
}
table tr td{
    padding-top:16px;
    vertical-align: middle;
}
table tr th,td{
    width: 20%;
    text-align: center;
}
td.center{
    text-align: left;
}
.mobile-show{
    display: none;
}
.term-content dt{
      margin-bottom: 9px;
}
.term-content dd a{
    text-decoration: underline;
    color:#1473d2;
    font-weight: bold;
}
.term-content dd ul{
    padding-left:10px;
}
.term-content .sub-title{
    font-size: 16px;
    font-weight: 700;
    color:#489ef3;
    font-style: italic;
    padding: 5px 0;
}
.term-content .sub-normal{
    color:#333;
    font-style: normal;
    border-bottom: 1px solid #333;
}
.term-content .title-center{
    text-align: center;
}
.term-content .time{
    margin:10px 0;
}
.term-content span{
    position: relative;
}
.term-content span:before{
    display: inline-block;
    content: '';
    height: 1px;
    width: 120%;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: -webkit-linear-gradient(left, #fff , #1473d2);
    background: -o-linear-gradient(left, #fff , #1473d2);
    background: -moz-linear-gradient(left,#fff , #1473d2);
    background: linear-gradient(to left, #fff , #1473d2);
}
@media screen and (max-width:767px){
    .public-outer{
        background: url(../images/public-mobile-bg.jpg) no-repeat 2% top;
        background-size: cover;
    }
    .term-content dt{
        font-weight:700;
    }
    .term-content dd{
        font-size: 12px;
    }
    table tr th{
        font-size: 14px;
    }
    table tr td{
         font-size: 10px;
     }
    .term-content dt{
        font-size: 18px;
    }
    .mobile-show{
        display: block;
    }
    .pc-show{
        display: none;
    }

}