
body{
    background: url(../images/img2/privacy-pc-bg.png) no-repeat center center;
    background-size:120% 100%;
}
.term-content{
    padding:7% 5% 0;
}

.term-content dt{
    font-weight: bold;
    color:#1473d2;
    font-size: 20px;
    font-style:italic; 
}
.public-inner-link{
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 5%); 
    }
.term-content .contact p{
    margin-bottom: 30px;
}
.term-content dd{
    color:#333;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top:3px;
    padding-bottom:2%;
    line-height: 24px;
}
table{
    width: 100%;
}
table tr th{
    font-weight: 700;
    font-size: 16px;
}
table tr td{
    padding-top:16px;
    vertical-align: middle;
}
table tr th,td{
    width: 33.3%;
    text-align: center;
}
td.center{
    text-align: left;
}
.mobile-show{
    display: none;
}
@media screen and (max-width:767px){
    .public-outer{
        background: url(../images/public-mobile-bg.jpg) no-repeat 2% top;
        background-size: cover;
    }
    .term-content dt{
        font-weight:700;
    }
    .term-content dd{
        font-size: 14px;
    }
    .mobile-show{
        display: block;
    }
    .pc-show{
        display: none;
    }
}