.public-outer{
    background: url("../images/solveImg/solve-pc-bg.png") no-repeat center center;
    background-size:cover;
}
.awkward-main img{
    position: relative;
    z-index: 0;
    vertical-align: bottom;
}
.awkward-main{
    position: relative;
}
.inner-nav{
    position: absolute;
    right: 18px;
    top:10px;
}
.inner-nav:before{
    content:'';
    height: 3px;
    width: 100%;
    position: absolute;
    left:0;
    bottom:-40%;
    background: -webkit-linear-gradient(left, #fff , #1998d1); 
    background: -o-linear-gradient(right, #fff , #1998d1); 
    background: -moz-linear-gradient(right,#fff , #1998d1); 
    background: linear-gradient(to right, #fff , #1998d1);
}
.inner-nav a{
    color:#47a5d6;
    font-size:18px;
    padding:0 10px;
}
.inner-nav li a:last-child{
    padding-right: 0;
}
/*内容 set*/
.main-box{
    padding:0 0 50px;
}
.main-pc-header{
    width: 50%;
    margin:40px 40% 25px;
}
.common-left-border,.common-right-border{
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 20px;
}
.main-mobile{
    display: none;
}
.common-left-border p{
    padding:3% 0 5% 4%;
}
.main-pc-show{
    width: 78%;
    margin:0 auto 7%;
    position: relative;
}
.error-tip{
    position: absolute;
    top:-60px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;
    background: #fff;
    color:#1473d2;
    z-index: 100;
    border: 1px solid #ecece8;
    box-shadow: 0 0 30px #dad8d1;
}
.error-left{
    left:-62px;
}
.error-right{
    right:-62px;
}
.error-tip span{
    display: inline-block;
    width:106px;
    height: 106px;
    border:2px solid #1473d2;
    border-radius: 100%;
    line-height: 106px;
    margin-top:7px;
}
.error-tip b{
    padding-left:3px;
    font-size: 24px;
}
.center-row{
    padding-bottom:5%;
}
.center-word{
    margin-top:10%;
}
.center-word,.center-img{
   padding-left:11%;
}
.center-img img{
    max-width: 100%;
    box-shadow: 1px 1px 2px #d7d6d0;
}
.common-right-border .common-header{
    text-align: center;
}
.common-header{
    font-style: italic;
}
/*内容设置end*/
@media screen and (max-width: 1280px){
   .inner-nav a{
        font-size:16px;
    }
    .common-header{
        font-size: 18px;
    }
    .common-left-border,.common-right-border{
       font-size: 18px;
       letter-spacing: 1px;
       line-height: 28px;
    }
}
@media screen and (max-width: 1024px){
    .public-outer{
        background: url("../images/solveImg/solve-mobile-bg.png") no-repeat center top;
        background-size: 100% 100%;
    }
     .common-left-border,.common-right-border{
       font-size: 14px;
       line-height: 22px;
     }
   .inner-nav a{
        font-size:14px;
    }
    .common-header{
        font-size: 18px;
    }
    .common-left-border,.common-right-border{
        font-size: 18px;
    }
    .left-box>div:last-child{
        top:23px;   
    }
}
@media screen and (max-width:767px){
    .main-pc{
        display: none;
    }
    .main-mobile{
        display: block;
        text-align: center !important;
    }
    .main-box{
        padding-bottom: 30px;
    }
    .common-header{
        font-size: 17px;
    }
    .common-left-border,.common-left-border{
        font-size:10px;
        font-weight: normal;
        line-height: 18px;
    }
    .common-right-border .common-header{
        padding:24px 0 10px;
    }
    .main-pc-header{
        margin-top:20px;
        margin-bottom: 10px;
    }
    .common-left-border p{
        padding:3% 1% 5% 8%
    }
    .main-pc-show{
        margin-bottom: 11%;
        font-size: 13px;
    }
    .main-pc-show:last-child{
        margin-bottom:0;
    }
    .main-pc-header {
        width: 60%;
        margin: 20px 32% 25px;
    }
    .center-row{
        padding-bottom:20px;
    }
    .center-word,.center-img{
        width: 100%;
        margin-top:0;
    }
    .error-tip{
        position: absolute;
        top:-30px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        text-align: center;
        background: #fff;
        color:#1473d2;
        z-index: 100;
        border: 1px solid #ecece8;
        box-shadow: 0 0 30px #dad8d1;
    }
    .error-left{
        left:-31px;
    }
    .error-right{
        right:-31px;
    }
    .error-tip span{
        display: inline-block;
        width:56px;
        height: 56px;
        border:2px solid #1473d2;
        border-radius: 100%;
        line-height: 46px;
        margin-top:4px;
    }
    .error-tip b{
        padding-left:0;
        font-size: 20px;
    }
    .center-word{
        text-align: left !important;
    }
    .common-right-border .center-row{
        padding-right: 9%;
    }
    .common-left-border .center-word{
        margin-top:20px;
    }

}
@media screen and (max-width:320px){
      .common-left-border, .common-right-border{
         line-height: 14px;
         font-size: 10px;
    }

}